<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css" />
    <title th:utext="#{label.title}"></title>
</head>
<body align="center">
<div id="login-form-wrap">
    <h2 th:utext="#{label.login}"></h2>
    <form id="login-form" name="f" th:action="@{/login}" method="POST">
        <p>
            <input type="text" id="username" name="username" th:placeholder="#{label.username}">
        </p>
        <p>
            <input type="password" id="password" name="password" th:placeholder="#{label.password}">
        </p>
        <p>
            <input type="submit" id="login" th:value="#{label.login}">
        </p>
    </form>
</div>
</body>
</html>
